body {
    background: url(/resources/images/pic.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0px;
}

.content {
    margin: auto;
    width: 970px;
    margin-bottom: 50px;
}

.logo {
    margin: 0 auto;
    width: 970px;
    height: 200px;
    text-align: center;
    padding: 20px 0;
    border: 1px black solid;
    background-color: black;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu-block {
    margin: auto;
    width: 970px;
    padding: 10px 0px;
    background-color: black;
    border-top: 1px white solid;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu-part span {
    margin: 55px;
}

.main-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 450px;
    height: 400px;
    background-color: white;
    padding: 20px 40px;
    text-align: justify;
}

.inf-right-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 450px;
    height: 400px;
    padding: 0px 30px 30px;
    background-color: white;
    text-align: justify;
}

.inf-left-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 450px;
    height: 400px;
    padding: 20px;
    background-color: white;
    text-align: justify;
}

.login {
    margin: auto;
    margin-top: 30px;
    left: 500px;
    width: 300px;
    padding: 20px;
}

.question-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 650px;
    height: 500px;
    background-color: white;
    padding: 0px 35px 0px 60px;
    text-align: right;
    opacity: 0.8; /*����� ����� ���� ����������*/

}

.news-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 250px;
    height: 500px;
    background-color: white;
    padding: 0px 20px 20px;
    text-align: justify;
}

.cabinet-navigation {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 200px;
    padding: 20px;
    background-color: white;
}

.cabinet-information {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 700px;
    left: 20px;
    padding: 0px 30px 30px;
    background-color: white;
}

.photo {
    position: absolute;
    margin-top: 90px;
    right: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.link a {
    color: white;
}

.cabinet-link {
    color: black;
}

.comment-block {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 20px;
    width: 650px;
    background-color: white;
    padding: 0px 30px 20px;
    text-align: justify;
    opacity: 0.8;
}


.journal-block {
    vertical-align: top;
    margin-left: 20px;
    margin-bottom: 300px;
    width: 925px;
    padding: 20px;
    background-color: white;
    opacity: 0.9;
}

.diary-block {
    vertical-align: top;
    margin-left: 20px;
    margin-bottom: 300px;
    width: 925px;
    height: 800px;
    padding: 20px;
    background-color: white;
    opacity: 0.9;
}

.myinput input {
    border: 0px;
}

.left-block {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-left: 20px;
    width: 650px;
    background-color: white;
    padding: 0px 30px 20px;
    text-align: justify;
}

.opacity {
    background-color: rgba(255, 255, 255, 0.8);
}

.opacity09 {
    background-color: rgba(255, 255, 255, 0.9);
}

.height {
    height: 600px;
}

.teacher-registration-block {
    padding: 0px 110px;
}

.student-registration-block {
    padding: 10px 110px;
}

hr {
    color: black;
    background-color: black;
    border: none;
    height: 1px;
}

.cursor {
    cursor: pointer
}

.slider-block {
    vertical-align: top;
    width: 410px;
    height: 300px;
    background-color: white;
    text-align: justify;
}

.inline {
    display: inline-block;
}

.error-block {
    height: 500px;
    padding-top: 100px;
}

.delete-block {
    position: absolute;
    right: 50px;
}

#write_comment {
    text-align: right;
    cursor: pointer;
}

#hidden-block {
    display: none;
    text-align: right;
}
